fastapi
uvicorn
langchain
langchain-community
langchain-groq
langchain-text-splitters
langchain-huggingface
faiss-cpu
pypdf
python-multipart
python-dotenv
rank-bm25
groq
transformers
sentence-transformers
streamlit
streamlit-mic-recorder
SpeechRecognition
requests